main{
    width:100%;
    height: 100%;
    margin-top: 2%;
  }
  section{
    display: grid;
  }
  section p{
    background-color: #385283;
    color: #ffffff;
    padding: 0.98rem 8rem;
    justify-self: center;
    align-self: center;
    margin-left: 0%;
    border-radius:8px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: rgba(46, 62, 90, 0.805) 0px 3px 6px, rgba(16, 27, 45, 0.805) 0px 2px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .main_courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-left: 0%;
    margin-top: 3%;
    justify-items: center;
  }
  .main_courses a{
    text-decoration: none;
  }
  .main_courses:first-child{
    display: none;
  }
  .courses{
    width: 18rem;
    height: 8rem;
    background-color: rgb(183, 201, 233);
    cursor: pointer;
    border-radius: 14px;
    color: #000000;
    box-shadow: rgba(142, 153, 172, 0.439) 0px 3px 6px, rgba(0, 0, 1, 0.536) 0px 3px 6px;
  }
  .courses:hover{
    transform: scale(1.07);
    font-size: 14px;
  }
  .courses span{
    display:block;
    text-align: center;
    margin-top: 1%;
  }
.courses img{
  width: 100%;
  height: 75.688px;
  border-radius: 14px 14px 0 0 ;
}
@media (max-width: 1000px) {
  section p{
    background-color: #385283;
    color: #ffffff;
    padding: 0.98rem 8rem;
    justify-self: center;
    align-self: center;
    margin-left: 0%;
    border-radius:8px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: rgba(46, 62, 90, 0.805) 0px 3px 6px, rgba(16, 27, 45, 0.805) 0px 2px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .main_courses{
    display: grid;
    grid-template-columns: repeat(2, 0.7fr);
    gap: 3rem;
    margin-left: 0%;
    margin-top: 5%;
    justify-items: center;
  }
  .main_courses a{
    text-decoration: none;
  }
  .main_courses:first-child{
    display: none;
  }
  .courses{
    width: 17rem;
    height: 8rem;
    background-color: rgb(183, 201, 233);
    cursor: pointer;
    border-radius: 14px;
    color: #000000;
    box-shadow: rgba(142, 153, 172, 0.439) 0px 3px 6px, rgba(0, 0, 1, 0.536) 0px 3px 6px;
  }
}
@media (max-width: 624px) {
  .main_courses{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 2rem;
    margin-left: 0%;
    margin-top: 5%;
    justify-items: center;
  }
  .courses{
    width: 15rem;
    height: 8rem;
    background-color: rgb(183, 201, 233);
    cursor: pointer;
    border-radius: 14px;
    color: #000000;
    box-shadow: rgba(142, 153, 172, 0.439) 0px 3px 6px, rgba(0, 0, 1, 0.536) 0px 3px 6px;
  }
}
@media (max-width: 520px) {
  section p{
    background-color: #385283;
    color: #ffffff;
    padding: 0.98rem 7rem;
    justify-self: center;
    align-self: center;
    margin-left: 0%;
    border-radius:8px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: rgba(46, 62, 90, 0.805) 0px 3px 6px, rgba(16, 27, 45, 0.805) 0px 2px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .main_courses{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-left: 0%;
    margin-top: 5%;
    justify-items: center;
  }
  .courses{
    width: 19rem;
    height: 9rem;
    background-color: rgb(183, 201, 233);
    cursor: pointer;
    border-radius: 14px;
    color: #000000;
    box-shadow: rgba(142, 153, 172, 0.439) 0px 3px 6px, rgba(0, 0, 1, 0.536) 0px 3px 6px;
  }
  .courses span{
    display:block;
    text-align: center;
    margin-top: 3%;
  }
}