.hidden1 .close-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3%;
  left: 85%;
  background-image: url("../image/close_icon.png");
  background-size: cover;
  cursor: pointer;
}
.main_profile {
  display: none;
  color: #ffffff;
  background-color: #385283;
  position: fixed;
  left: 83%;
  margin-top: 0.5%;
  padding: 1rem;
  z-index: 3;
  width: 11rem;
}


.main_profile img{
  width: 60px;
  height: 60px;
  margin-left: 33%;
  border-radius: 50px;
  border: 1px #ffffff solid;
  margin-bottom: 0.3rem ;
}

.main_profile .name h3{
  display: flex;
justify-content: center;
align-items: center;
margin-bottom: 4%;
}
.main_profile .main_button{
  position: absolute;
  display: inline;
  background-color: #ffffff;
  width: 100%;
  left: 0;
}
.main_button button{
  border: none;
  display: inline;
  padding: 0.5rem 1rem;
  border-radius: 4px ;
  justify-content: center;
  margin-top: 0.7rem;
  margin-bottom: 6%;
  margin-right: 4%;
  margin-left: 8%;
  cursor: pointer;
  color: black;
  background-color: #6891c0;
}
.main_button button:hover{
  background-color: #83a1d9;
  transition: 1s;
  transform:scale(1.2);
}
.main_button button a{
  text-decoration: none;
  color: black;
}
