html {
  height: 100%;
}
body {
  /*#3b3b46*/
  margin:0;
  padding:0;
  font-family: sans-serif;
  /* background: linear-gradient(#385283, #6891c0); */
  background-color: #385283;
  color: #fff;
}
main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50% 50%;
}
.main_def span{
  display: flex;
}
.main_def #logo{
  border: 0 solid;
  box-shadow: none;
  margin: 0;
  padding: 0;
  margin-left: -20%;
  cursor: auto;
  margin-top: 0%;
}
.main_def #logo:hover{
  background-color: transparent;
  transform: translateY(0px);
}
.main_def span h1{
  text-align: center;
  width: 37.5rem;
  margin-top: 8.125rem ;
  margin-left: 15%;
}
.main_def #img{
  border: 0 solid;
  box-shadow: none;
  margin-top: -7%;
  width: 37.5rem;
  cursor: auto;
  height: 28.125rem;
  margin-left: -14%;
}
.main_def #img:hover{
  background-color: transparent;
  transform: translateY(0px);
}

.main_login{
  position: relative;
}
.chose{
  margin-top: 26%;
}
.chose h1{
  position: relative;
  margin-left: 18.938rem;
}
.chose h3{
 display: inline-block;
 position: relative;
 left :25%;
 margin-right: 5rem;
}
.main_image{
width: 31.25rem;
height: 12.5rem;
}
img{
  height: 8.75rem;
  width: 7.5rem;
  position: relative;
  left:26%;
  top: 3%;
  margin: 1.25rem 1.25rem;
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: rgba(19, 31, 52, 0.805) 0px 3px 6px, rgba(16, 27, 45, 0.805) 0px 3px 6px;
}
img:hover{
  background-color: #83a1d9;
  transform: translateY(-15px);
}
.login {
  display: none;
  position: absolute;
  top: 127%;
  left: 55%;
  width: 25rem;
  padding: 2.5rem;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: rgba(2, 14, 34, 0.805) 0px 3px 6px, rgba(2, 14, 34, 0.805) 0px 3px 6px;

  border-radius: 10px;
}

.login h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login .user {
  position: relative;
}

.login .user input {
  width: 90%;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1.875rem;
  border: none;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
}
.login .user input:focus{
  border-color: #03e9f4;
  background-color: #1c2941;
}
.login .user label {
  position: absolute;
  top:20%;
  left: 8%;
  padding: 0.625 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login .user input:focus ~ label,
.login .user input:valid ~ label {
  top: -9%;
  left: 8%;
  background-color: rgb(28,41,65);
  padding: 0 .2em;
  color: #c8f403;
  color: #03e9f4;
  font-size: 0.85rem;
}

.login form .submit {
  position: relative;
  display: inline-block;
  left: 32%;
  padding: 0.625rem 1.25rem;
  border: #03e9f4 1px solid;
  border-radius: 4px;
  color: #c8f403;
  color: #03e9f4;
  font-size: 1rem;
  margin-top: 2.5rem;
  background-color: #385283;
  letter-spacing: 4px
}

.login .submit:hover {
  background-color: #c8f403;
  background-color: #03e9f4;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: 3s;
}
button {
  display: none !important;
  margin-top: -17%;
  margin-left: 24%;
  display: flex;
  height: 3em;
  width: 100px;
  font-size: 17px;
  border-radius: 3px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  border: 1px #fff solid;
  background: #385283;
 }
 button:hover {
  background-color: #83a1d9;
  transform: translateY(-2px);
 }

 .form__error {
  color: #cd1e1e;
  align-self: center;
  margin-left: 13%;
  margin-top: -5%;
}
.form__error.hidden{
  display: none;
}
@media (max-width: 1109px) {
  .main_def #img{
    width: 35rem;
    height: 26rem;
  }
  .main_def h1{
    text-align: center;
    width: 37.5rem;
    margin-top: 8.125rem ;
  }
}
