h1{
text-align: center;
margin-top: 1.7%;
color: #385283;
}
hr{
  width: 19rem;
  margin: auto;
  height: 2.2px;
  border: none;
  background-color: #204266;
}
main{
  display: grid;
  width: 100%;
  height: 80vh;
}
section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  margin: 20px;
  border-radius:5px ;
  justify-self: center;
  align-self: center;
}
section h3{
  text-align: center;
  color: #385283;
  margin-bottom: 12%;
}
section img{
  justify-self: center;
  align-self: center;
  height: 9.75rem;
  width: 8.5rem;
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: rgba(19, 31, 52, 0.805) 0px 3px 6px, rgba(16, 27, 45, 0.805) 0px 3px 6px;
}
section img:hover{
  background-color: #83a1d9;
  transform: translateY(-15px);
  }
.login {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 25rem;
  padding: 1.4rem;
  transform: translate(-50%, -50%);
  background: #204266;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 1px rgba(2, 1, 3, 0.87);
  border-radius: 10px;
  }
.login .user {
  position: relative;
  }
.login .user input {
  background-color: #e6eff3;
  width: 90%;
  padding: 0.8rem;
  font-size: 0.9rem;
  color: #000;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  border-radius: 6px;
  outline: none;
  }
  .login .user select {
  width: 97.9%;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #e6eff3;
  color: #000;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  border-radius: 6px;
  outline: none;
  }
  .login .user option {
  background-color: #204266;
  }
.login .user input:focus{
  border-color: #03e9f4;
  }
.login .user label {
  position: absolute;
  top:20%;
  left: 5%;
  font-size: 1rem;
  color: #000;
  pointer-events: none;
  transition: 450ms;
  }
  .login .user label.date {
  top: -9%;
  left: 5%;
  background-color: #204266;
  padding: 0 0.5em;
  color: #ffffff;
  font-size: 0.85rem;
  }
  .login .user label.level {
  top: -9%;
  left: 8%;
  background-color: #204266;
  padding: 0 .3em;
  color: #ffffff;
  font-size: 0.85rem;
  }
  .login .user input:focus ~ label.date,
  .login .user input:valid ~ label.date  {
  color: #03e9f4;
  }
  .login .user option:focus ~ label.level,
  .login .user option:valid ~ label.level  {
  color: #03e9f4;
  }
.login .user input:focus ~ label,
.login .user input:valid ~ label {
  top: -9%;
  left: 8%;
  background-color: #204266;
  padding: 0 .3em;
  color: #03e9f4;
  font-size: 0.85rem;
  }
.login form .submit {
  position: relative;
  display: inline-block;
  left: 35%;
  padding: 0.625rem 1.25rem;
  border: #03e9f4 1px solid;
  border-radius: 4px;
  color: #03e9f4;
  font-size: 1rem;
  margin-top: 0.5rem;
  background-color: #385283;
  letter-spacing: 4px;
  cursor: pointer;
  }
.login .submit:hover {
  background-color: #03e9f4;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: 1.2s;
  }
.successfull {
  position: fixed;
  width: 99.8%;
  top: 11vh;
  background-color: #22ba5c;
  color: #fff;
  padding: 0.1rem;
  display: none;
  text-align: center;
  }
.successfull .message {
  padding: 0.5rem;
  font-size: 1.2rem;
  height: fit-content;
  }
  @media (max-width: 400px) {
    .login{
      width: 23.5rem;
    }
  }